[flake8]
max-line-length = 88
extend-ignore = E203, W503
exclude =
    .git
    __pycache__
    .pytest_cache
    .mypy_cache
    .tox
    docs/
    .venv
    venv
    data/models/*.pkl
    data/models/*.h5
    data/models/*.pth
    data/cache
    data/iqfeed/*.csv
per-file-ignores =
    tests/*:E402,F401,F811,F841